<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Posts</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    <a href="{% url 'post_create' %}">Crear un nuevo post</a>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.titulo }}</a> - 
                <a href="{% url 'post_edit' post.pk %}">Editar</a> - 
                <a href="{% url 'post_delete' post.pk %}">Eliminar</a>
            </li>
        {% endfor %}

        {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.username }}!</p>
            {% else %}
        <p>No has iniciado sesión</p>
        {% endif %}
    </ul>
</body>
</html>