<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Crear una Cuenta</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Esto mostrará los campos del formulario, asegúrate de que muestra username, password1 y password2 -->
        <button type="submit">Registrar</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
    {% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>